<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/modelo.css">
    <title>Productos</title>
</head>
<body>
  <nav>
    <a href="../views/index.html"><img src="../Img/home.png"></a>                      
</nav>
    <h1>Búsqueda y Listado de Productos</h1>
  
    <div>
      <label for="searchTerm">Buscar por nombre, ID o categoría:</label>
      <input type="text" id="searchTerm" name="searchTerm">
      <button id="searchBtn">Buscar</button>
    </div>
  
    <div id="productList">
      <!-- Aquí se tendria que ver los resultados de búsqueda o todos los productos -->
    </div>
  
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const searchBtn = document.getElementById('searchBtn');
        const productList = document.getElementById('productList');
  
        searchBtn.addEventListener('click', async function () {
          const searchTerm = document.getElementById('searchTerm').value;
          const response = await fetch(`/products/search?term=${searchTerm}`);
          const products = await response.json();
  
          productList.innerHTML = '';
  
          products.forEach(product => {
            const productCard = document.createElement('div');
            productCard.innerHTML = `
              <h2>${product.name}</h2>
              <p>ID: ${product._id}</p>
              <p>Categoría: ${product.category}</p>
              <p>Descripción: ${product.description}</p>
              <img src="${product.image}" alt="${product.name}" style="max-width: 100px;">
              <hr>
            `;
            productList.appendChild(productCard);
          });
        });
      });
    </script>
  </body>

<footer>
    <div>   
        <nav>
            <a href="https://www.facebook.com/GeekZonesoluciones/" target="_blank"><img src="../Img/face.png" class ="size1"></a>
            <a href="https://www.twitter.com/" target="_blank"><img src="../Img/twi.png" class ="size1"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="../Img/insta.png" class ="size1"></a>
            <a href="mailto:cholffi@gmail.com"><img src="../Img/correo.png" alt="correo" class ="size"></a>
            <a href="https://api.whatsapp.com/send?phone=1111&text=Hola%20,Contanos%20que%20por%20whatsapp%20En%20que%20te%20ayudamos%20." target="_blank"><img src="../Img/wat.png" alt="WhatsApp" class ="size"></a>
            <a href="Tel:11-123456789"><img src="../Img/tele.png" alt="Telefono" class ="size"></a>
        </nav>
    </div>
<div>
    <a href="#home"><img src="../Img/nube.png" alt="arriba" class="size"></a>
</div>
</footer>

</body>
</html>